@using TicTacToe.Resources
@model TicTacToe.Models.MVC.Game.Game

    <div class="col text-center h-25">
        <div class="form-group">
            <div class="col text-center">
                <input type="hidden" asp-for="Player.Id"/>
                <label>@GameStrings.InputUserName:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="Player.Name" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col text-center">
                <label>@GameStrings.SelectGameSide:</label>
                <div class="btn-group m-1" role="group">
                    <div class="form-check m-1">
                        @Html.EditorFor(m => m.Player.GameSide, "EnumRadioButtonList")
                    </div>

                </div>
            </div>
        </div>
       
    </div>
