@using TicTacToe.Models.MVC.Game
@using TicTacToe.Resources
@model IList<TicTacToe.Models.MVC.Game.GameCell>
<div id="gameForm" class="row h-50 justify-content-center">
    <div class="col w-50">

        @for (var index = 1; index < 4; index++)
        {
        var firstRow = Model.Where(d=>d.Cell.Name.Contains($"{index}."));
            <div class="row text-center">
                @foreach(var cell in firstRow)
                {
                    <div class="col-4 text-center border border-dark">
                        <div class="box text-center">
                            <input type="hidden" asp-for="@cell.CellId" />
                            <input type="hidden" asp-for="@cell.GameId" />
                            @if (cell.GameSide == null)
                            {
                                <a class="empty-cell" href="@(Model.Any(s => s.IsHighlighted) ? "" : "javascript:void(0)")">
                                    <img src="images/empty_cell.svg" />
                                </a>
                            }
                            else
                            {
                                if (cell.GameSide == GameSideEnum.Crosses)
                                {
                                    
                                    if (!cell.IsHighlighted)
                                    {
                                        <img class="cross-cell" src="images/cross.svg" />
                                    }
                                    else
                                    {
                                        <img class="cross-cell" src="images/cross_highlighted.svg" />
                                    }
                                }
                                else
                                {
                                  
                                    if (!cell.IsHighlighted)
                                    {
                                        <img class="zero-cell" src="images/zero.svg" />
                                    }
                                    else
                                    {
                                        <img class="zero-cell" src="images/zero_highlighted.svg" />
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        
        }
    </div>
</div>