@using TicTacToe.Resources
@{
    ViewData["Title"] = "Home Page";
}

<div class="container w-50">
    <div class="row h-75">
        @for (int i = 0; i < 9; i++)
        {
            <div class="col-4 border">
                <img src="images/empty_cell.svg" />
                <img class="hidden" src="images/cross.svg" />
                <img class="hidden" src="images/zero.svg" />
            </div>
        }
    </div>
    <div class="row">
        <div class="col text-center h-25 m-5">
            <button type="button" class="btn btn-dark">@GameStrings.PlayButton</button>
        </div>
    </div>
</div>
