@using TicTacToe.Resources
@model TicTacToe.Models.MVC.Game.Game
@{
    ViewData["Title"] = GameStrings.PlayPageTitle;
}

<div class="container w-50">
    <div class="row mh-100">
        <div class="col">
            @if(Model.StartDateTime == null) 
            { 
                <partial name="CreateOrUpdatePlayerPartial" model="@Model.Player"/>
            }
            else
            {
                <partial name="GameInfoPartial" model="@Model"/>
                <div class="col">
                   <partial name="GameGridPartial" model="@Model.GameCells"/>
                </div>
            }
        </div>
        
</div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TicTacToe.Views.Game.Init({
                ReloadGameCellsUrl:'@Url.Action("AjaxGameCells")'
            });
        });
    </script>
}