@using TicTacToe.Resources
@model TicTacToe.Models.MVC.Game.Game
@{
    ViewData["Title"] = GameStrings.PlayPageTitle;
}

<div class="container w-75">
    <div class="row mh-100">
        <div class="col">
            @if(Model.StartDateTime == null) 
            { 
                <partial name="CreateOrUpdatePlayerPartial" model="@Model.Player"/>
            }
            else
            {
                <partial name="GameInfoPartial" model="@Model"/>
                <div class="col">
                    <div id="gameForm" class="row h-75">
                        @for (int i = 0; i < 9; i++)
                        {
                            <div class="col-4 border border-dark">
                                <a href="javascript:void(0)">
                                    <img class="empty-cell" src="images/empty_cell.svg" />
                                    <img class="cross-cell hidden" src="images/cross.svg" />
                                    <img class="zero-cell hidden" src="images/zero.svg" />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        
</div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TicTacToe.Views.Game.Init({

            });
        });
    </script>
}